body{
	
}
.container{
	position: relative;
	min-height: 400px;
	min-width: 1200px;
	bottom-padding: 100px;
	background-image: url('../images/background.jpg');
	background-size: 100%;
	background-repeat: repeat;
}
.top{
	position: relative;
	height: 200px;
	min-width: 1200px;
	background-color: rgba(157, 157, 143, 0.5);
}
.bottom{
	position: relative;
	height: 50px;
	min-width: 200px;
	background-color: rgba(157, 157, 143, 0.5);
}
.main{ 
						/*width is 500px*/
	position: relative;
	width: 500px;
	height: auto;
	padding-bottom: 100px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(255, 255, 48, 0.69);
	background-width: 100%;
	background-repeat: repeat;
}
.title{
	background-color: rgba(165, 42, 42, 0.69);
	width: 100%;
	height: 40px;
}
.title p {
	text-align: center;
	font-size: 2em;
}
#list-name{					
							/*width is 300px*/
	float: left;
	width: 297px;
	height: 20px;
	margin-top: 10px;
	margin-left: 90px;
	text-align: center;
	border: 2px solid orange;
}
.add-button{
	float: right;
	margin-right: 80px;
	margin-top: 11px;
	height: 25px;
	width: 25px;
}
img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

img:hover {
    opacity: 2.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.shopping-list-name{
	position: relative;
	text-align: center;
	height: 50px;
	width: 500px;
} 
#shopping-list{
	position: relative;
}
.item{
	position: relative;
	width: 400px;
	padding-right: 50px;
	padding-left: 50px;
	min-height: 50px;
	text-align: center;
	font-family: Comic Sans, Comic Sans MS, cursive;
	font-size: 2em;
	display: block;
	background: rgba(252,234,187,1);
    background: -moz-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 51%, rgba(245,179,12,1) 99%, rgba(251,223,147,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,234,187,1)), color-stop(51%, rgba(248,181,0,1)), color-stop(99%, rgba(245,179,12,1)), color-stop(100%, rgba(251,223,147,1)));
    background: -webkit-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 51%, rgba(245,179,12,1) 99%, rgba(251,223,147,1) 100%);
    background: -o-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 51%, rgba(245,179,12,1) 99%, rgba(251,223,147,1) 100%);
    background: -ms-linear-gradient(top, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 51%, rgba(245,179,12,1) 99%, rgba(251,223,147,1) 100%);
    background: linear-gradient(to bottom, rgba(252,234,187,1) 0%, rgba(248,181,0,1) 51%, rgba(245,179,12,1) 99%, rgba(251,223,147,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93', GradientType=0 );
}
.cross{
	float: left;
	margin-left: -40px;
	margin-top: 12px;
	width: 25px;
	height: 25px;
}
.remove{
	float: right;
	margin-right: -40px;
	margin-top: 12px;
	width: 25px;
	height: 25px;
}
.item span{
	float: left;
	margin-top: 6px;
}
.crossed{
	text-decoration: line-through;
}
.highlight{
	/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(bottom, #00F7FF 0%, #D2EAEF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(bottom, #00F7FF 0%, #D2EAEF 100%);

/* Opera */ 
background-image: -o-linear-gradient(bottom, #00F7FF 0%, #D2EAEF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00F7FF), color-stop(1, #D2EAEF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(bottom, #00F7FF 0%, #D2EAEF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to top, #00F7FF 0%, #D2EAEF 100%);
}